.details {
  padding: 10px 50px; 
}

.details__container {
  display: flex;
  width: 100%;
  margin: 0 auto;
}

.details__image-container {
  width: 60%;
  margin: 0 5px 0 0;
}

.details__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

.details__content {
  width: 40%;
  padding: 1rem;
  background-color: #fff1e6;
  border-radius: 0 10px 10px 0;
}

.details__title {
  font-size: 1rem;
  font-weight: 900;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.details__line {
  border-top: 1px solid #00b300;
  border-radius: 50px;
  margin: 0.5rem 0 1rem;
}

.details__detail {
  font-weight: 500;
  font-size: 0.85rem;
}

.details__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto 2rem;
}

.details__back-button {
  outline: none;
  border: 1px solid #000;
  background-color: #fff1e6;
  color: #000;
  padding: 7px 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.details__back-button:hover {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.details__back-button:hover .details__back-icon{
  transform: translateX(-5px);
}

.details__back-icon {
  margin-right: 5px;
  transition: transform .5s ease-in-out;
}

@media screen and (max-width: 800px) {
  .details__container {
    flex-direction: column;
  }

  .details__image-container {
    width: 100%;
    margin: 0 0 5px 0;
  }

  .details__image {
    border-radius: 10px 10px 0 0;
  }

  .details__content {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  
}

@media screen and (max-width: 500px) {
  .details {
    padding: 1rem;
  }

  .details__content {
    padding: 1rem;
  }
}