.more-button {
  background: none;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 10px 50px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem auto 2rem;
  background: #000;
  color: #fff;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.more-button:hover .more-button__icon {
  display: flex;
}

.more-button:active {
  transform: scale(1.1);
}

.more-button__icon {
  margin-left: 5px;
  display: none;
  transition:  0.5s ease-in-out;
}